<div class="container">
<table class="table table-stripped">
<tr>
<thead>
<th>Title</th>
<th>Venue</th>
<th>Description</th>
<th>Actions</th>
</thead>
</tr>
<tbody>
<tr>
<tr></tr>
<td><%= @event.name %></td>
<td><%= @event.venue %></td>
<td><%= @event.description %></td>
<td><%= link_to 'Edit', edit_event_path(@event) %></td>
</tr>

</tbody>
</table>

 <%= link_to 'Event', events_path %>
</div>